xml-resources/web-service-references/Employee_Service/wsdl/localhost_9825/Employee_Webservice/Employee_Service.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://employee_webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://employee_webservice/">

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="addOperation" type="tns:addOperation"/>

<xs:element name="addOperationResponse" type="tns:addOperationResponse"/>

<xs:element name="deleteOperation" type="tns:deleteOperation"/>

<xs:element name="deleteOperationResponse" type="tns:deleteOperationResponse"/>

<xs:element name="editOperation" type="tns:editOperation"/>

<xs:element name="editOperationResponse" type="tns:editOperationResponse"/>

<xs:element name="loginIdVisibility" type="tns:loginIdVisibility"/>

<xs:element name="loginIdVisibilityResponse" type="tns:loginIdVisibilityResponse"/>

<xs:element name="loginNameVisibility" type="tns:loginNameVisibility"/>

<xs:element name="loginNameVisibilityResponse" type="tns:loginNameVisibilityResponse"/>

<xs:complexType name="loginNameVisibility">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="loginNameVisibilityResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteOperation">
<xs:sequence>
<xs:element name="employee_Id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteOperationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOperation">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOperationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editOperation">
<xs:sequence>
<xs:element name="employee_Id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editOperationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginIdVisibility">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="loginIdVisibilityResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>